body {
  font-family: sans-serif;
  display: grid;
  justify-content: center;
}
header {
  margin-top: 15px;
}
h1 {
  display: inline;
  color: #196eb3;
  vertical-align: 16px;
}
.logo {
  width: 70px;
}
input {
  outline: none;
}
.tweet-box {
  display: grid;
  grid-template-columns: repeat(1, minmax(160px, 600px));
  justify-content: center;
  margin-top: 30px;
}
.tweet-box form {
  background-color: #E8F5FD;
  border-radius: 2px;
  padding: 10px;
}
.tweet-message {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #adddfb;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: #fff;
}
.tweet-message:focus {
  outline: none;
  box-shadow: 0px 0px 3px #50a5da;
}
#button-send {
  float: right;
}
.btn {
  font-size: 12px;
  border: none;
  border-radius: 15px;
  background-color: #78cbff;
  color: #fff;
  padding: 6px 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #2aadff;
}
#loading-images {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
#loading-images + label {
  background: url(../image/icons/load-pic.png) no-repeat center center;
  width: 30px;
  height: 26px;
  opacity: 1;
  z-index: 1;
  overflow: auto;
  float: left;
  cursor: pointer;
}
#image-preview {
  float: left;
  max-width: 200px;
  margin-left: 20px;
}
#image-preview img {
  max-width: 30px;
  max-height: 30px;
  vertical-align: -8px;
}
#counter {
  float: right;
  max-width: 85px;
  margin-right: 20px;
  margin-top: 6px;
  font-size: 13px;
  color: #5582b1;
}
.max-length {
  color: #ef6565;
}
.disabled {
  cursor: default;
  background: #cfecff;
  pointer-events: none;
}
.disabled:hover {
  background: #cfecff;
}