body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
}
h2 {
  font-size: 36px;
  font-weight: 400;
}
.container {
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* width: 1024px; */
  height: 56px;
  text-align: center;
  line-height: 54px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}
.logo {
  float: left;
}
.logo #logo {
  height: 36px;
  width: 36px;
  vertical-align: -10px;
  margin-left: 10px;
}
.logo h1 {
  display: inline;
  margin-left: 5px;
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* toggle header */
.toggle-group p {
  display: inline;
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 500;
}
.switches {
  display: inline-block;
  position: relative;
  top: -5px;
  height: 2px;
  width: 46px;
  margin-left: 16px;
  margin-right: 16px;
  background: rgba(0,0,0,0.3);
}
.switches input {
  position: absolute;
  top: -11px;
  left: -76px;
  height: 26px;
  width: 169px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.switch {
  display: block;
  float: left;
  position: relative;
  top: -11px;
  left: -7px;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border: 2px solid #807e7f;
  border-radius: 50%;
  z-index: 1;
  transition: left .2s ease;
}
.switches input:checked~.switch {
  top: -11px; 
  left: -7px;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border: 2px solid #807e7f;
}
.switches input~:checked~.switch { 
  left: 30px;
  background: #38b5c7;
  border: none;
  height: 25px;
  width: 25px;
}
.switches input:checked { 
  z-index: 0;
}

/* content */
.content {
  margin-top: 56px;
}
section:first-child {
  margin-top: 93px;
}
article {
  border: 0.5px solid rgba(0,0,0,0.24);
  background: #fafafa;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12);
}


@media (min-width: 800px) {
  .container {
    width: 800px;
  } 
}