body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  overflow-y: scroll;
}
h2 {
  font-size: 36px;
  font-weight: 400;
}
h1, h2 {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;    
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 56px;
  text-align: center;
  line-height: 54px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}
#logo {
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.logo {
  float: left;
}
.logo a {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
}
.logo #logo {
  height: 36px;
  width: 36px;
  vertical-align: -10px;
  margin-left: 10px;
}
.logo h1 {
  display: inline;
  margin-left: 5px;
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.logo a:hover  {
  opacity: 0.7;
}

/* toggle header */
.toggle-group {
  display: inline-block;
  position: relative;
  left: -42px;
}
.toggle-group p {
  display: inline;
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 500;
}
.switches {
  display: inline-block;
  position: relative;
  top: -5px;
  height: 2px;
  width: 46px;
  margin-left: 16px;
  margin-right: 16px;
  background: rgba(0,0,0,0.3);
}
.switches input {
  position: absolute;
  top: -11px;
  left: -76px;
  height: 26px;
  width: 169px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.switch {
  display: block;
  float: left;
  position: relative;
  top: -11px;
  left: 30px;
  background: #38b5c7;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 1;
  transition: left .2s ease;
}
.switches input:checked~.switch {
  top: -11px; 
  left: -7px;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border: 2px solid #807e7f;
}
.switches input~:checked~.switch { 
  left: 30px;
  background: #38b5c7;
  border: none;
  height: 25px;
  width: 25px;
}
.switches input:checked { 
  z-index: 0;
}

/* content */
.content {
  display: grid;
  grid-template-columns: repeat(1, minmax(260px, 800px));
  justify-content: center;
  padding: 0 15px 0 17px;
  margin-top: 56px;

  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: grid;
      opacity: 0;
  }

  100% {
      display: grid;
      opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: grid;
      opacity: 0;
  }

  100% {
      display: grid;
      opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: grid;
      opacity: 0;
  }

  100% {
      display: grid;
      opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: grid;
      opacity: 0;
  }

  100% {
      display: grid;
      opacity: 1;
  }
}

section {
  margin-bottom: 45px;
}
form.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  grid-gap: 28px;
  grid-auto-rows: minmax(75px, auto);
}
fieldset {
  padding: 15px 22px 10px 25px;
  border: 0.5px solid rgba(0,0,0,0.24);
  border-radius: 3px;
  background: #fafafa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}
fieldset h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 12px;
}
fieldset .checkbox {
  display: block;
  margin-bottom: 12px;
}
fieldset:disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  mix-blend-mode: normal;
  opacity: 0.2;
}
fieldset:disabled label {
  cursor: default;
}
.comment {
  width: 100%;
  height: 86px;
  border: 1px solid #979797;
  box-sizing: border-box;
  resize: none;
}
.comment:focus {
  outline: none;
  -webkit-box-shadow: 0 0 7px rgba(56,181,199,0.7);
  -moz-box-shadow: 0 0 7px rgba(56,181,199,0.7);
  box-shadow: 0 0 7px rgba(56,181,199,0.7);
}
.btn {
  background: #38B5C7;
  border-radius: 4px;
  font-size: 20px;
  color: #FFFFFF;
  border:  none;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: #0f9ec7;
}
.btn-reset {
  width: 290px;
  height: 40px;
  margin-top: 20px;
}
.btn-dinner {
  width: 139px;
  height: 40px;
  margin-top: 18px;
}

/* input style*/
.checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid;
  border-radius: 2px;
  opacity: 0.54;
}
.checkbox input:checked ~ .checkmark {
  background-color: #009688;
  opacity: 1;
  border: none;
  height: 18px;
  width: 18px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* end */

/* starting page*/
.content-starting {
  display: grid;
  grid-template-columns: repeat(1, minmax(160px, 266px));
  justify-content: center;
  text-align: center;
  padding: 30px 30px 0 24px;
}
.content-starting .header {
  margin-bottom: 55px;
}
.content-starting .header a {
  color: #000;
}
.content-starting .header a:visited {
  text-decoration: none;
}
.content-starting .header #logo {
  width: 160px;
  height: 160px;
}
.content-starting .header h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 35px;
  font-weight: 500;
  margin: 3px 0 0;
}
.content-starting form {
  display: grid;
  grid-gap: 19px;
}
.content-starting input {
  border: none;
  border-bottom: 2px solid #979797;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 4px;
  text-align: center;
}
.content-starting input::placeholder {
  color: #898989;
}
.content-starting input:-ms-input-placeholder {
  color: #898989;
}
.content-starting input::-ms-input-placeholder {
  color: #898989;
}
.content-starting input:focus {
  outline: none;
  -webkit-box-shadow: 0 8px 18px -6px #38B5C7;
  -moz-box-shadow: 0 8px 18px -6px #38B5C7;
  box-shadow: 0 8px 18px -6px #38B5C7;
}
.small-text {
  color: #898989;
  font-size: 12px;
  line-height: 14px;
  margin-top: 24px;
  margin-bottom: 0;
}

/* end */

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  form.menu {
    grid-gap: 15px;
  }
  h2 {
    font-size: 24px;
  }
  fieldset h3 {
    font-size: 18px;
  }
  .logo {
    display: none;
  }
  .toggle-group {
    position: static;
  }
}
@media (max-width: 320px) {
  h2 {
    margin-top: 17px;
  }
  h2 span {
    display: none;
  }
  section {
    margin-bottom: 34px;
  }
  fieldset {
    padding: 17px 22px 10px 13px;
  }
  .btn-reset {
    width: 100%;
    margin-top: 11px;
  }
}